version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.15.2
  go: circleci/go@1.5.0
workflows:
  build:
    jobs:
      - foo
jobs:
  foo:
    executor:
      name: "go/default"
      tag: "1.15" # renovate: cimg/go
    steps:
      - run:
          name: foo
          command: echo foo
